* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background: #fff;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1242px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1242px;
    margin: 0 auto;
}

h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(26px, 5vw, 48px);
    line-height: 110%;
    color: #000;
    font-weight: 600;
}

h2 span {
    color: #8602BA;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 151%;
    color: #000;
}

h4 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 151%;
    color: #000;
}

h3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(20px, 4vw, 32px);
    line-height: 124%;
    color: #000;
    font-weight: 600;
}

a {
    outline: none;
}

@media (max-width: 1280px) {
    .container {
        padding: 0 24px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 16px;
    }
}