@media screen and (min-width:340px) and (max-width:450px){
    body{
        overflow-x: hidden;
    }
    #first-section-platform{
        display: flex;
        flex-direction: column-reverse;
        gap: 150px;
    }
    #img-platform-ex{
        width: 300px;
        height: 350px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
        padding-left: 5%;
    }
    #third-section-platform{
    }
    #ferramentas-section-info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
    }
    #ferramentas-section-topics{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .ferramentas-section-topics-itens{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .ferramentas-itens-box{
        width: 300px;
        height: 200px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 6%;
        padding-top: 5%;
        padding-left: 5%;
    }
    #fourth-section-graphics-platform{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%;
    }
    #fourth-section-box-img{
        width: 300px;
        height: 310px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #fourth-section-graphic-img{
        width: 270px;
        height: 170px;
        border-radius: 15px;
    }
}