#plans-section{
    display: flex;
    flex-direction: column;
    background-color: hotpink;
    width: 85%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#plans-section-info{
    display: flex;
    flex-direction: row;
    gap: 3%;
}
.plans-section-card{
    display: flex;
    flex-direction: column;
    width: 600px;
    background: linear-gradient(180deg,rgba(241, 241, 248, 1) 0%, rgba(255, 255, 255, 1) 98%);
    border-radius: 30px;
    padding-top: 3%;
    gap: 30px;
}
.plans-section-division{
    display: flex;
    flex-direction: row;
    background-color: darkkhaki;
    align-items: center;
    justify-content: center;
}
.line-division{
    width: 3px;
    height: 150px;
    background-color: firebrick;
}
.plans-section-card-prices{
    display: flex;
    flex-direction: column;
    background-color: darkslateblue;
    width: 45%;
    gap: 10px;
    padding-left: 2%;
}
.plans-section-topics-prices{
    display: flex;
    flex-direction: row;
    gap: 8%;
    background-color: cornflowerblue;
    width: 100%;
}
.plans-section-divsion-cards{
    display: flex;
    flex-direction: row;
}
.plans-section-box-background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 15px;
    border-radius: 30px;
}
.plans-section-btn-saiba{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    flex-direction: row;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #78aabc;
    align-self: center;
}
#plans-section-btn-saiba-rosa{
    background: none;
    color: #78aabc;
}
#plans-section-btn-saiba-roxo{
    background: none;
    color: blueviolet;
}