
/*primeira seção*/
#first-section-platform{
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

/*Box de imagem 1º seção*/
#img-platform-ex{
    width: 500px;
    height: 510px;
    border-radius: 30px;
    background-image: url(/img/img_aurora_boreal.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding-left: 2%;
}
#search-bar-section{
    width: 78%;
    height: 9%;
    border-radius: 15px;
    background-color: #EEEAF2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
}
#topics-search-bar-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    padding-left: 2%;
}
#topic-destaq-search-bar{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 125px;
    color: #230C0C;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}
#line-search-bar{
    height: 2px;
    width: 125px;
    background-color: #8602BA;
    margin-left: 2%;
}
.topics-search-bar{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 100px;
    opacity: 50%;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
#perfil-ex-platform{
    background-color: #f5f5f5;
    width: 93%;
    height: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 3%;
    gap: 10%;
}
#perfil-img-ex-platform{
    background-image: url(/img/img_perfil.jpg);
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#perfil-text-platform{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}
#perfil-cargo-text-platform{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
#perfil-cargo-text-platform{
    display: flex;
    gap: 5%;
    width: 200px;
}
#perfil-descrip-platform{
    display: flex;
    flex-direction: column;
    gap: 6%;
    width: 90%;
}
#perfil-name-platform{
    color: #230C0C;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}
#perfil-cargo-platform{
    color: #585C66;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}
#perfil-profi-platform{
    color: #3C1B72;
    width: 125px;
    height: 20px;
    background-color: #C2BFDF;
    text-align: center;
    border-radius: 30px;
    padding-top: 0.5%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;

}
#perfil-title-descrip-platform{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #230C0C;
    font-size: 1.1rem;
}
#perfil-text-descrip-platform{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #230C0C;
    font-size: 0.95rem;
}
.text-section-platform{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.topic-section-platform{
    width: 170px;
    height: 38px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #8602BA;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    color: #8602BA;
    font-size: 1.1rem;
}

/*Box de texto*/
.title-text-section-plaform{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 120%;
    width: 90%;
}

/*Tag de span*/
.span-roxo{
    color: #8602BA;
}
.text-ex-section-platform{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
}

/*Botão para agendar*/
.agendar-btn-section-platform{
    display: flex;
    flex-direction: row;
    background: linear-gradient(132deg,rgba(217, 76, 244, 1) 50%, rgba(126, 44, 142, 1) 100%);    
    height: 38px;
    align-items: center;
    padding-left: 0.6%;
    gap: 6%;
    border-radius: 30px;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
#agendar-btn-first-section, #agendar-btn-third-section{
    width: 300px;
}
.btn-agendar-plus{
    background-color: #E79BF6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*3º seção sobre plataforma*/
#third-section-platform{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

/*Box de texto*/
#ferramentas-section-info{
    display: flex;
    flex-direction: row;
    gap: 130px;
    width: 75%;
    justify-content: space-between;
    gap: 10%;
}
#ferramentas-section-text-box{
    width: 50%;
    display: flex;
    height: 250px;
    flex-direction: column;
    gap: 15%;
}
#title-third-section{
    width: 50%;
    padding-left: 4%;
}
#text-third-section{
    width: 90%;
}

/*Cards de ferramentas*/
#ferramentas-section-topics{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    justify-content: center;
}
.ferramentas-section-topics-itens{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.ferramentas-itens-box{
    background-color: #F1F1F8;
    width: 520px;
    height: 270px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 6%;
    padding-top: 5%;
    padding-left: 5%;
}
.bi-person-x, .bi-map, .bi-people-fill, .bi-graph-up-arrow, .bi-eye-fill, .bi-handbag-fill{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #8602BA;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}
.ferramentas-section-itens-title{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #230C0C;
    font-size: 1.2rem;
    padding-top: 2%;
    line-height: 140%;
    width: 90%;
}
.ferramentas-section-itens-text{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #230C0C;
    font-size: 1.1rem;
    line-height: 140%;
    width: 90%;
}

/*4º seção sobre a plataforma*/
#fourth-section-graphics-platform{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    gap: 5%;
}

/*Box de texto*/
#text-fourth-section{
    width: 80%;
}

/*Botão para agendar*/
#agendar-btn-fourth-section{
    width: 160px;
}

/*Box de imagem da 4º seção*/
#fourth-section-box-img{
    background-image: url(/img/fundo_graphics_img.jpg);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 510px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fourth-section-graphic-img{
    background-image: url(/img/graphic_img.png);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 250px;
    border-radius: 15px;
}