.rh-service{
    padding: 172px 0px;
}

.rh-service .container{
    padding: 72px 0 0 0;
    background-color: #524aad20;
    border-radius: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.rh-service .text{
    margin-bottom: 24px ;
}

.rh-service h2{
    text-align: center;
}

.rh-service p{
    text-align: center;
    max-width: 354px;
    margin: 0 auto;
}

img.pic1{
    position: absolute;
    left: -63px;
    top: 85px;
}

img.pic2{
    position: absolute;
    right: -72px;
    top: 169px;
}